<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="shortcut icon" href="/favicon.ico"><title>{% block title %}{% endblock %}</title><link href="/static/css/main.e338d51a.css" rel="stylesheet">{% block head %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@inmagiklabs">
  <meta name="twitter:title" content="Daily Clouds by INMAGIK">
  <meta name="twitter:description" content="#dailyclouds: #news from top #italian newspapers in a #wordcloud by @inmagiklabs">
  <meta name="twitter:image" content="https://dailyclouds.inmagik.com/inmagik.png">
  <meta property="og:url" content="https://dailyclouds.inmagik.com">
  <meta property="og:type" content="article">
  <meta property="og:title" content="DailyClouds by INMAGIK">
  <meta property="og:description" content="Daily Clouds: Le notizie di oggi dei principali giornali italiani in una #wordcloud">
  <meta property="og:image" content="https://dailyclouds.inmagik.com/inmagik.png">


  {% endblock %}</head><body>{% block root %}<div id="root"></div>{% endblock %}{% block scripts %}<script>!function(e,t,a,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=t.createElement(a),s=t.getElementsByTagName(a)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-44618885-12","auto"),ga("send","pageview")</script><script type="text/javascript" src="/static/js/main.cb287266.js"></script>{% endblock %}</body></html>