.Header {
   margin-bottom: 10px;
}

.HeaderLogo {
  float: left;
  padding: 20px;
  width: 100px;
  shadow: 10px 10px 5px #888888;
}

.Header-navbar-menu {
  list-style: none;
  padding: 0px!important;
}

.Header-navbar-menu li {
  display:inline-block;
  float:left;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.Header-navbar-menu li.inmagik {
  float:right;
}

.Header-navbar-menu li a {
  display:block;
  text-decoration: none;
  line-height: 45px;
  color: #666666;
}

@media (max-width: 800px) {
  .Header-navbar-menu li {
    padding-left: 5px;
  }
}

@media (max-width: 500px) {
  .HeaderLogo {
    float: none;
    text-align: center;
    padding: 0px;
    margin-top: 5px;
  }
}

@media (max-width: 500px) {
  .Header-navbar-menu li {
    float: none;
    text-align: center;
    list-style-position: inside;
    display: block;
    padding-left: 0px;
  }

  .Header-navbar-menu li.inmagik {
    float:none;
  }

  .Header-navbar-menu li a {
    display:block;
    text-decoration: none;
    line-height: 24px;
    color: #666666;
  }
}
