.Header {
   margin-bottom: 50px;
}

.Header-logo {
  float: left;
  padding: 20px;
}

.Header-navbar-menu {
  list-style: none;
}

.Header-navbar-menu li {
  display:inline-block;
  float:left;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.Header-navbar-menu li a {
  display:block;
  text-decoration: none;
  line-height: 45px;
  color: #666666;
}
