.logo {
  width:200px;
  height: auto;
  float: left;
  padding: 20px;
}
 .row {
   margin-bottom: 100px;
 }

.navbar-menu {
  list-style: none;
}

.navbar-menu li {
  display:inline-block;
  float:left;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-menu li a {
  display:block;
  text-decoration: none;
  line-height: 45px;
  color: #666666;
}
