.WordCloudPreview {
  padding: 30px;
}

.WordCloudPreview img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  padding: 30px;
}

@media (min-width: 994px) {
  .WordCloudPreview img {
    padding: 60px;
  }
}

.WordCloudPreview-bottom-text {
  padding-top: 10px;
  font-size: 18px;
}
