.footer-row {
  margin-bottom: 0;
  padding: 10px;
}

.inmagik-logo {
  height: auto;
  float: left;
}

@media (max-width: 800px) {
  .inmagik-logo {
    float: none;
  }
}

.github-logo {
  float: right;
}

@media (max-width: 800px) {
  .github-logo {
    float: none;
  }
}

 .copy {
  font-size: 85%;
  float: left;
  line-height: 45px;
  padding-left: 20px;
 }

@media (max-width: 800px) {
  .copy {
    padding-left: 5px;
    float: none;
  }
}
