@import '~ionicons/dist/css/ionicons.css';
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap-theme.css';
@import url('https://fonts.googleapis.com/css?family=Rye|Source+Code+Pro|Goblin+One|Rye|Diplomata');

body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif,Diplomata;
  text-rendering: geometricPrecision;
  text-align: center;
}
